<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title> HostQ </title>
  </head>

  <body>
  	<h1>{{.Name}} Status</h1>
  	The current group order is:  

    <ul>
      {{range $index, $host := .Hosts}}
        <li>
          {{if eq $.Next $index }} 
           <b>
          {{end}} 
      		
          {{$host.HostName}} <br/>
          {{if eq $.Next $index }} 
           </b>
          {{end}} 
        </li>
    	{{end}}
    </ul>

    The bolded group is the next potential host.  
  </body>
 </html>